<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.everyplay.Everyplay" android:theme="@android:style/Theme.NoTitleBar" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false"  />
  <uses-feature android:name="android.hardware.camera.autofocus"  android:required="false" />
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <!-- android:label="@string/everyplay_app_name" -->
  <application >
       <activity
         android:name="com.everyplay.Everyplay.view.EveryplaySocialActivity" 
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.EveryplayTextInputActivity" 
           android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:windowSoftInputMode="stateVisible|adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="false" />
       
       <activity
         android:name="com.everyplay.Everyplay.view.videoplayer.EveryplayVideoPlayerActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.videoplayer.EveryplayVideoEditorActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.EveryplaySharingModalActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@style/EveryplaySharingModal"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:fitsSystemWindows="true"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.browser.EveryplayBrowserActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="false" />
       
       <activity
         android:name="com.everyplay.Everyplay.view.auth.EveryplayAuthActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="false"
           android:windowSoftInputMode="adjustResize" />
       
       <activity
         android:name="com.everyplay.Everyplay.view.auth.EveryplayAddConnectionActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.Dialog"
           android:hardwareAccelerated="false"
           android:screenOrientation="sensor"
           android:windowSoftInputMode="adjustResize" />
       
       <activity
         android:name="com.everyplay.Everyplay.communication.socialnetworks.EveryplayFacebook"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.Dialog"
           android:hardwareAccelerated="false"
           android:screenOrientation="sensor"
           android:windowSoftInputMode="adjustResize" />
       
       <service 
           android:name="com.everyplay.Everyplay.communication.upload.EveryplayUploadService" />
       
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
