player-connection-mode=Listen
player-connection-guid=3376042861
player-connection-debug=0
player-connection-project-name=ClientDriven
player-connection-ip=10.1.34.123
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a6700748b89a49d6a94fd5ecc53092d0
